# Kaggle (Not in use)
kaggle.json
.kaggle/
*.key
# venv
.venv/
# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
# Env
.env
# Datos locales
/data/*
!/data/README.md
# Reports exportados
/reports/*.html
/reports/*.pdf
# VSCode
.vscode/
# Plan con fases y pasos a seguir para proyecto
plan.md
